<html>
    <head>
        <title>configure</title>
        <link rel="stylesheet" href="../configure.css">
    </head>

    <body>
        <div id="message"></div>

       <div>
        <b>contest id :</b> <i><%=data.contest_id%></i>
       </div>

       <div>
        <form action="#" method="dialog" id="confi_info">

        <table id="problems">
            <thead>
                <th>problem</th>
                <th>allow partial testcases</th>
                <th>dont allow</th>
            </thead>

            <tbody>
                <%for(let problem in data.problems){%>
                    <tr>
                        <td>
                            <div><a href='<%=data.problems[problem]%>'><%=problem%></a></div>
                        </td>

                        <td>
                            <input type="radio"  name='<%=problem%>' <%if(data.scoring_details[problem]=="true"){%> checked <%}%>>
                        </td>

                        <td>
                            <input type="radio"  name='<%=problem%>' <%if(data.scoring_details[problem]=="false"){%> checked <%}%>>
                        </td>
                    </tr>
                <%}%>
            </tbody>

        </table>
       </div>

        <div >
        <label for="duration"><b>contest duration:</label>

                <div id="duration_select">
                <input type="number" name="days" id="days" min="0" max="365" placeholder="days" class="contest_duration" value="<%=data.duration[0]%>">
                <input type="number" name="hours" id="hours" min="0" max="24" placeholder="hours" class="contest_duration" value="<%=data.duration[1]%>">
                <input type="number" name="minutes" id="minutes" min="0" max="60" placeholder="minutes" class="contest_duration" value="<%=data.duration[2]%>">
                <input type="number" name="seconds" id="seconds" min="0" max="60" placeholder="seconds" class="contest_duration" value="<%=data.duration[3]%>">
                </div>


                <div id="contest_name_display">
                    <label for="contest_name"><b>contest name:</b></label>
                    <input type="text" name="contest_name" id="contest_name" required value="<%=data.contest_name%>">
                </div>

                <input type="submit" value="complete configuration">

            </form>
            
        </div>

       <script src="../configure.js"></script>
    </body>
</html>
